.desktop {
  .office-card {
    width: calc(33% - 10px);
  }
}

.mobile-tablet {
  .office-card {
    width: calc(50% - 10px);
  }
}

.light-mode {
  .office-card {
    border: 2px solid #000000;

    &__content {
      color: #000000;
    }
  }
}

.dark-mode {
  .office-card {
    border: 2px solid #2e2e2e;
  }
}

.office-card {
  display: inline-block;

  box-sizing: border-box;
  margin-bottom: 20px;

  button {
    border: none;
    height: 45px;
  }

  &__content {
    padding: 10px;

    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
  }

  &__time {
    float: left;
  }

  &__seats {
    float: right;

    &--icon {
      float: left;
      margin-right: 5px;

      svg {
        color: #6202ff;
      }
    }

    &--text {
      float: right;
      top: -2px;
      position: relative;
    }
  }
}

.office-card:not(:last-child) {
  margin-right: 10px;
}
