@import 'common/utils/colours';

.button {
  margin-top: 20px;
  width: 100%;
  display: inline-block;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #ffffff;
  text-transform: uppercase;
  background: #000000;

  &:disabled {
    background-color: #bfcacf;
    border: none;
  }
}
