.light-mode {
  .pagination {
    border: 2px solid #000000;
  }

  .page-link {
    color: black;
  }

  .active {
    .page-link {
      background-color: #000;
      border-color: #000;
      color: white;
    }
  }
}

.dark-mode {
  .pagination {
    border: 2px solid #2e2e2e;
  }

  .page-link {
    color: white;
  }

  .active {
    .page-link {
      background-color: #2e2e2e;
      border-color: #2e2e2e;
      color: white;
    }
  }
}

.pagination {
  .disabled {
    opacity: 0.5;
    cursor: not-allowed;
    user-select: none;
  }

  li {
    height: 40px;
    width: 35px;

    .page-link {
      padding-top: 10px;
      width: 35px;
      height: 30px;
      display: block;
      text-decoration: none;
    }
  }

  justify-content: center;
  display: flex;
  padding-left: 0;
  list-style: none;
}

.sr-only {
  display: none;
}
