.booking-status {
  text-align: left;

  &__title,
  &__message,
  &__status,
  &__row {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }

  &__message {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    color: #000000;
  }

  &__status {
    padding-bottom: 10px;
    height: 20px;
    border-bottom: 2px solid #000000;

    &--cancelled::before {
      background: #cd1732;
    }

    &--confirmed::before {
      background: #6202ff;
    }

    &--cancelled {
      color: #cd1732;
    }

    &--confirmed {
      color: #6202ff;
    }

    &--confirmed::before,
    &--cancelled::before {
      content: '';

      width: 10px;
      height: 10px;
      position: relative;
      top: 16px;
      left: -15px;
      display: block;
      z-index: 1;
      border-radius: 50%;
    }

    &--confirmed,
    &--cancelled {
      float: left;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 23px;
      left: 15px;
      position: relative;
      top: -10px;
    }

    &--code {
      float: right;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 23px;
      text-align: right;
      color: #000000;
    }
  }

  &__row {
    clear: both;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    min-height: 25px;
    color: #000000;

    &--title {
      float: left;
    }

    &--value {
      float: right;
    }
  }
}
