@import 'common/utils/colours';

.desktop {
  .companyCard {
    min-width: 450px;
    min-height: 768px;

    &__header {
      height: 200px;

      &--title,
      &--date {
        height: calc(200px - 60px);
      }

      &--title {
        width: 35%;
        font-size: 40px;
        line-height: 45px;
      }

      &--date {
        font-size: 30px;
        line-height: 50px;
      }

      &--address {
        line-height: 55px;
      }
    }
  }
}

.mobile-tablet {
  .companyCard {
    &__header {
      padding-top: 75px;
      height: 175px;
      &--title,
      &--date {
        max-height: 100px;
        overflow: hidden;
      }
      &--title {
        width: 50%;
        font-size: 40px;
        line-height: 45px;
      }

      &--row {
        margin-bottom: 10px;
      }

      &--address,
      &--directions {
        margin-top: 20px;
      }

      &--address {
        width: 50%;
        text-align: left;
      }

      &--date {
        padding-left: 10px;
        font-size: 25px;
        line-height: 35px;
        width: calc(50% - 15px);
      }
    }

    &__content {
      min-height: calc(100vh - 300px);
    }
  }
}

.light-mode {
  .companyCard {
    background-color: white;
  }
}

.dark-mode {
  .companyCard {
    background-color: #000000;
    color: #dddddd;
  }
}

.companyCard {
  z-index: 1;
  position: relative;
  margin: 0 auto;
  display: inline-block;
  box-shadow: 0px 4px 15px 4px rgba(0, 0, 0, 0.2);

  &__header {
    word-break: break-word;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    background-size: cover;

    &--row {
      clear: both;
    }

    &--title,
    &--date {
      text-transform: uppercase;
      vertical-align: middle;
    }

    &--title {
      float: left;
      font-style: normal;
      font-weight: bold;

      letter-spacing: 0.12em;

      border-right: 3px solid #ffffff;
      text-align: left;
    }

    &--date {
      float: right;
      font-style: normal;
      font-weight: bold;

      text-align: right;
      color: #ffffff;
      line-height: calc(200px - 60px);
    }

    &--address {
      float: left;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
    }

    &--directions {
      float: right;
      text-align: right;
      a {
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 55px;
        text-align: right;
        text-decoration-line: underline;
        color: #ffffff;
      }
    }
  }

  &__content {
    padding: 25px;
  }
}
